<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">Link</a></li>
        <li class="active">Customer Pool</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->      

<div class="page-title">
    <h2>{{'customer-pool.title'|translate}}</h2>
</div>

<!-- PAGE CONTENT TABBED -->
<tabset>
<tab heading={{'customer-pool.tab1.title'|translate}}> 
<div class="row">
    <div class="col-md-12">    
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'customer-pool.tab1.panel-title'|translate}}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" ng-click="isCollapsedCustomer = !isCollapsedCustomer" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                       <li><a href="#" ng-click="refreshCustomer()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
            
                <div class="panel-body" collapse="isCollapsedCustomer">
                <div class="table-responsive">
                        <table datatable="ng" class="table datatable hover">
                            <thead>
                                <tr>
                                    <th>{{'customer-pool.tab1.table.name'|translate}}</th>
                                    <th>{{'customer-pool.tab1.table.country'|translate}}</th>
                                    <th>{{'customer-pool.tab1.table.region'|translate}}</th>
                                    <th>{{'customer-pool.tab1.table.industry'|translate}}</th>
                                    <th>{{'customer-pool.tab1.table.buyerSegment1'|translate}}</th>
                                    <th>{{'customer-pool.tab1.table.buyerSegment2'|translate}}</th>
                                    <th>{{'customer-pool.tab1.table.buyerSegment3'|translate}}</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cust in customers">
                                    <td>{{ cust.name }}</td>
                                    <td>{{ cust.country }}</td>
                                    <td>{{ cust.region }}</td>
                                    <td>{{ cust.industry }}</td>
                                    <td>{{ cust.buyerPortfolio[0].country }} - {{ cust.buyerPortfolio[0].industry }}</td>
                                    <td>{{ cust.buyerPortfolio[1].country }} - {{ cust.buyerPortfolio[1].industry }}</td>
                                    <td>{{ cust.buyerPortfolio[2].country }} - {{ cust.buyerPortfolio[2].industry }}</td>                                 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    

                <div class="panel-footer" collapse="isCollapsedCustomer"> </div>
            </div>
        </div> 

</div> 

</div>            

</tab>
</tabset>

<!-- END PAGE CONTENT TABBED -->
