<!-- START MINI DASHBOARD -->
<!-- 
<div class="mini-dashboard" ng-controller="MiniDashCtrl">
    <!-- TILES                
    <ul class="list-inline mini-stat">
        <li style="margin-right:20px"></li>
        <li style="margin-right:20px"></li>
        <li style="margin-right:20px" class="text-left">
            <h5 style="float:left;margin:0px 10px 0px 0px;"><small>CAPITAL</small> <br><span style="color:#5cb85c;"><i class="fa fa-plus-circle"></i> €{{getCurrentTeam().capital}}mn</span></h5>
            <span id="mini-bar-chart1" class="mini-bar-chart" style="float:left;">
                <div style="overflow:hidden;height:35px;width:80px;">
                    <nvd3-discrete-bar-chart
                        data="exampleData"
                        id="exampleId3"
                        showXAxis="false"
                        showYAxis="false"
                        margin={left:0,top:0,bottom:8,right:0}
                        width="80"
                        height="35"
                        showValues="false"
                        showLegend="false"
                        tooltips="true"
                        color="colorFunction()">
                        <svg height="35px"></svg>
                    </nvd3-discrete-bar-chart>
                </div>
            </span>
        </li>
    </ul>                     
    <!-- END TILES 
</div>
-->
                        <div class="col-dashboard col-md-10" ng-controller="MiniDashCtrl">
                        <div class="col-md-2 col-sm-12 col-align" style="min-width:100px;width: auto;" ng-if="!singleplayermode">
                            <div class="tile tile-transparent" style="min-width:100px;width: auto;">
                                {{miniDashboardInfo.rankingPosition}}
                                <p>{{'mimidash.ranking'|translate}}</p>
                                <div class="informer {{miniDashboardInfo.rankingIconColor}} dir-tr"><span class="fa {{miniDashboardInfo.rankingIcon}}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align" style="width: auto;">
                            <div class="tile tile-transparent" style="width: auto;" title="Measure of the service capability which your customers experience">
                                {{miniDashboardInfo.experienceScore}} 
                                <p>{{'mimidash.xpScore'|translate}}</p>
                                <div class="informer {{miniDashboardInfo.experienceScoreIconColor}} dir-tr"><span class="fa {{miniDashboardInfo.experienceScoreIcon}}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align" style="width: auto;">
                            <div class="tile tile-transparent" style="width: auto;" title="Number of customers in the last round">
                               {{miniDashboardInfo.customers}}
                                <p>{{'mimidash.customers'|translate}}</p>
                            <div class="informer {{miniDashboardInfo.customersIconColor}} dir-tr"><span class="fa {{
                                    miniDashboardInfo.customersIcon}}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align" style="width: auto;">
                            <div class="tile tile-transparent" style="width: auto;" title="Premium income from the last round">
                                {{miniDashboardInfo.premium | currency : "&euro;"}}
                                <p>{{'mimidash.premium'|translate}}</p>
                                <div class="informer {{miniDashboardInfo.premiumIconColor}} dir-tr"><span class="fa {{
                                   miniDashboardInfo.premiumIcon}}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align" style="width: auto;">
                            <div class="tile tile-transparent" style="width: auto;" title="Claims in the last round">
                                {{miniDashboardInfo.claims | currency : "&euro;"}}
                                <p>{{'mimidash.claims'|translate}}</p>
                                <div class="informer {{miniDashboardInfo.claimsIconColor}} dir-tr"><span class="fa {{miniDashboardInfo.claimsIcon}}"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align" style="width: auto;">
                            <div class="tile tile-transparent" style="width: auto;" title="Available capital for this round">
                                {{miniDashboardInfo.capital | currency : "&euro;"}}
                                <p>{{'mimidash.capital'|translate}}</p>
                                <div class="informer {{miniDashboardInfo.capitalIconColor}} dir-tr"><span class="fa {{miniDashboardInfo.capitalIcon}}"></span></div>
                            </div>
                        </div>
                    </div>
<!-- END MINI DASHBOARD -->