
<div class="panel panel-default as-panel-customer">
    <div class="panel-body profile bg-info" style="margin-bottom:15px">
        <div class="profile-data">
            <div class="profile-data-name">{{ selected.name }}</div>
        </div>
    </div>
    <div class="panel-body as-panel-customer">        
        <div class="col-md-12">
            <span href="#" class="tile tile-default">
            <div style="font-size:12px;"><h6>{{'market.tpl.customer'|translate}}</h6></div>
            <div class="col-md-3">
                <img ng-src="assets/img/flags/{{selected.countryCode}}.png" width="32" height="32" style="margin-bottom:4px">
                <p style="margin-top:2px;line-height:14px;">{{selected.country}}<small style="color:#bbb"><br>({{ selected.industry }} {{'market.tpl.sector'|translate}})</small></p>
            </div>
            <div class="col-md-3">
                <span class="label label-warning label-form"><span class="fa fa-cogs"></span> {{selected.experienceScoreNeeded}}</span>
            <p style="line-height:14px;margin-top:10px;">{{'market.tpl.serviceNeed'|translate}}<small style="color:#bbb"><br>{{'market.tpl.yourScore'|translate}} {{team.experienceScore}}</small></p>
        </div>
        <div class="col-md-3">
            <span class="{{getRiskWeatherIcon(selected.businessRisk)}}" style="font-size: 28px;line-height: 36px;"></span>
            <p style="line-height:14px;margin-top:2px;">{{riskText}} {{'market.tpl.risk'|translate}}<small style="color:#bbb"><br>{{'market.tpl.overalRiskLevel'|translate}}</small></p>
        </div>
        <div class="col-md-3">
            <span style="font-size:28px;line-height:36px;">{{(selected.turnover)/1000000}}</span>
            <p style="margin-top:2px;line-height:14px;">{{'market.tpl.turnover'|translate}}<small style="color:#bbb"><br>{{'market.tpl.millionEuro'|translate}}</small></p>
        </div>
        </span>
    </div>
</div>
<div class="panel-body as-panel-customer">
    <div class="col-md-4 as-col-md-4" ng-repeat="buyer in selected.buyerPortfolio">
        <span class="tile tile-default">
            <div style="font-size:12px;"><h6>{{'market.tpl.buyerSegment'|translate}}{{$index+1}}</h6></div>
            <p style="font-size:12px;">
            {{buyer.tpe | currency:"&euro;"}}</p>
            <p style="font-size:12px;"><img ng-src="assets/img/flags/{{buyer.countryCode }}.png" width="12" height="12" style="margin-bottom:4px">
            {{buyer.country}}</p>
            <p style="font-size:12px"><span class="fa fa-globe" style="font-size: 12px;line-height: 18px;"></span> {{ buyer.industry }}</p>
        <p><span class="{{getRatingWeatherIcon(buyer.rating)}}" style="font-size: 32px;line-height: 54px;"></span></p>
        <p>{{ratingText}}</p>
       
            <p style="font-size:20px;">{{ getRiskAcceptanceRate(buyer.country,buyer.industry,buyer.rating)}}%</p>
             <p>
            <div ng-controller="SpinnerCtrl as spinner" style="margin-top:10px;">
                <div class="progress progress-small">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ getRiskAcceptanceRate(buyer.country,buyer.industry,buyer.rating) }}%;"></div>
                </div>
                
            </div>
        </p>
        </span>
    </div>    
</div>
<div class="panel-body as-panel-customer">
  <form name="offerForm" novalidate >  
    <div class="col-md-6 as-col-md-6">
        <span href="#" class="tile tile-default" style="height:130px;">
<div style="font-size:12px;"><h6>{{'market.tpl.price'|translate}}</h6></div>
<div class="input-group" style="margin-top:15px;padding-right:40px;padding-left:40px;">
    <span class="input-group-addon"><span class="fa fa-eur"></span></span>
        <input type="number" min="0" name="priceInput" class="form-control" ng-model="price" required="required" />       
    </div>
    <span style="color: red" ng-show="showPriceValidation">{{errorTextPriceValiation}}</span>             
    <span class="help-block" 
    ng-style="showAvgPriceValidation ? {'padding-right':'40px','padding-left':'40px','color':'red'} :{'padding-right':'40px','padding-left':'40px'}">
    {{'market.tpl.avgPriceMsg'|translate}} ({{selected.turnover*0.2}})
    </span>    
</div>
<div class="col-md-6 as-col-md-6" style="padding-right:15px">
    <span href="#" class="tile tile-default" style="height:130px;">
<div style="font-size:12px;"><h6>{{'market.tpl.service'|translate}}</h6></div>
<span class="label label-warning label-form"><span class="fa fa-cogs"></span> {{team.experienceScore}} </span> / <span class="label label-danger label-form"><span class="fa fa-flash"></span> 100</span>
    <p style="line-height:14px;margin-top:10px;padding-right:40px;padding-left:40px;">{{'market.tpl.xpScore'|translate}}<small style="color:#bbb"><br>{{'market.tpl.xpScore.msg'|translate}} {{ selected.name }}.</small></p>
    </span>
</div>
</div>
<div class="panel-body as-panel-customer" style="margin-bottom:15px;">
    <div class="col-md-12">
        <a href="#" class="btn btn-block btn-lg btn-success" ng-click="submitOffer(price)"><span class="fa fa-comments-o"></span>{{'market.tpl.makeOffer'|translate}}!</a>         
    </div>
</div>
<div class="panel-body list-group">
    <a href="#" class="list-group-item btn btn-lg" ng-click="closeModal()"><span></span> {{'market.tpl.close'|translate}}</a>
</div>
</form>
</div>
