<div class="panel panel-default" style="width: auto;">
    <div class="panel-body profile bg-info" style="margin-bottom:15px">
        <div class="profile-data">
            <div class="profile-data-name">{{'risk.addNewStrategy.title'|translate}}</div>
        </div>
    </div>
    <div class="panel-body as-panel-customer">
    <form name="newForm" novalidate="novalidate">
        <div class="col-md-12">
            <span href="#" class="tile tile-default">
	            <div style="float:left;margin: auto;height:20px; padding:5px;">
	                <label style="text-align:center;">{{'risk.addNewStrategy.name'|translate}}</label>
	            </div>
				<div class="col-md-4">
					<input name="strategyName" style="width:300px;" type="text" class="form-control" ng-model="newRiskStrategy.strategyName" required="required" placeholder="Enter new strategy Name" maxlength="30"/>
						<span style="color: red" ng-show="newForm.strategyName.$dirty && newForm.strategyName.$invalid">
							<span ng-show="newForm.strategyName.$error.required">
								{{'risk.addNewStrategy.name.validationMsg'|translate}}
							</span>
						</span>
						<span style="color: red" ng-show="showStrategyNameRequiredError">
							{{'risk.addNewStrategy.name.validationMsg'|translate}}
						</span>
				</div> <br> <br> <br> <br>
				<span href="#" class="tile tile-default">
					
					<table>
					<tr>
						<td style="padding:15px;">
					<table style="border: 1px solid;width:50%;" class="table datatable" align="center">
			 		<thead class="table datatable">
						<tr>
					    	<th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.country'|translate}}</th>
					    </tr>
	</thead>
					 <tbody>
					 	<tr>
					 		<td style="text-align: center;">
					 			<select size="10" name="strategyBuyerCountry" multiple="multiple" ng-model="newRiskStrategy.buyerCountry" required="required">
									<option ng-repeat="country in cou"
													value="{{country.country}}">{{country.country}}</option>
								</select>
								<span style="color: red" ng-show="newForm.strategyBuyerCountry.$dirty && newForm.strategyBuyerCountry.$invalid">
									<span ng-show="newForm.strategyBuyerCountry.$error.required">
											{{'risk.addNewStrategy.buyerCountry.validationMsg'|translate}}
									</span>
								</span>
								<span style="color: red" ng-show="showBuyerCountryError">
									{{'risk.addNewStrategy.buyerCountry.validationMsg'|translate}}
								</span>	
					 		</td>
					 	</tr>
					 </tbody>
			 	
			 	</table>
					  
					    </td>
					    <td>
					    	<table style="border: 1px solid;width:50%;" class="table datatable" align="center">
			 		<thead class="table datatable">
						<tr>
					        <th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.industry'|translate}}</th>
					    </tr>
	</thead>
					 <tbody>
					 	<tr>
					 		<td style="text-align: center;">
					 			<select size="10" name="strategyBuyerIndustry" multiple="multiple" ng-model="newRiskStrategy.buyerIndustry" required="required">
									<option ng-repeat="industry in ind"
													value="{{industry.industry}}">{{industry.industry}}</option>
								</select>
								<span style="color: red" ng-show="newForm.strategyBuyerIndustry.$dirty && newForm.strategyBuyerIndustry.$invalid">
									<span ng-show="newForm.strategyBuyerIndustry.$error.required">
											{{'risk.addNewStrategy.buyerIndustry.validationMsg'|translate}}
									</span>
								</span>
								<span style="color: red" ng-show="showBuyerIndustryError">
									{{'risk.addNewStrategy.buyerIndustry.validationMsg'|translate}}
								</span>	
							</td>
					 	</tr>
					 </tbody>
			 	
			 	</table>
					    </td>
						<td style="padding:15px;">
						
					        <table style="border: 1px solid;width:50%;height:229px;" class="table datatable" align="center">
					        	<thead class="table datatable">
					        		<tr>
					        			<th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.buyerRatings'|translate}}</th>
					        			<th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.acceptancePercentage'|translate}}</th>
					        		</tr>
					        	</thead>
					        	<tbody>
					        			<tr ng-repeat="ratingBand in ratingBands | orderBy : 'sno'">
					        				<td style="text-align: center;border: 1px solid;">{{ratingBand.ratingFrom}} - {{ratingBand.ratingTo}}</td>
					        				<td style="text-align: center;border: 1px solid;">
						        				<input name="ratingBand{{$index+1}}" type="number"
													ng-model="newRiskStrategy.ratingBand[$index+1]"
													required min="0" max="100"/>
												<span style="color: red" ng-show="newForm.ratingBand{{$index+1}}.$dirty && newForm.ratingBand{{$index+1}}.$invalid">
													<span ng-show="newForm.ratingBand{{$index+1}}.$error.required">
														{{'risk.addNewStrategy.requiredMsg1'|translate}} {{$index+1}} {{'risk.addNewStrategy.requiredMsg2'|translate}}.
													</span>
												</span>	
											</td>
					        			</tr>	
					        				        	
					        	</tbody>
					        	
					        	<span style="color: red" ng-show="showRatingBandRequiredError">
														{{'risk.addNewStrategy.ratingBand.range'|translate}}.<br><br>
								</span>
					        	<span style="color: red" ng-show="showRatingBandRangeError">
														{{'risk.addNewStrategy.requiredMsg1'|translate}}.<br><br>
								</span>
					        </table>
			 	
			 	</td>
			 	</tr>
			 	</table>
			 	<table style="width:100%;" class="table datatable" align="center">
			 		<!-- <thead>
			 			<tr>
			 				<th style="text-align: center;">
			 					{{'risk.addNewStrategy.selected.countries'|translate}}
			 				</th>
			 				
			 				<th style="text-align: center;">
			 					{{'risk.addNewStrategy.selected.industries'|translate}}
			 				</th>
			 			</tr>
			 		</thead> -->
			 		<tbody>
			 		<tr>
			 			<td style="width:50%;">
			 				<label style="font-weight: 400;" ng-repeat="country in newRiskStrategy.buyerCountry">
							{{country}}{{$last ? '' : ',&nbsp'}}
			 			</td>
			 			<td style="width:50%;">
			 				<label style="font-weight: 400;" ng-repeat="industry in newRiskStrategy.buyerIndustry">
							{{industry}}{{$last ? '' : ',&nbsp'}}
			 			</td>
			 		</tr>
			 		</tbody>
			 	</table>
			</span>
    	</div>
    	<div class="panel-body as-panel-customer">
		    <div class="col-md-6 as-col-md-6">
		        
			</div>
		</div>
		
		<div class="col-md-12">
        	<a href="#" class="btn btn-block btn-lg btn-success" ng-click="save();"><span class="fa-floppy-o"></span> {{'risk.addNewStrategy.Save'|translate}}</a>
    	</div>
    	</form>
	</div>

<div class="panel-body list-group">
    <a href="#" class="list-group-item btn btn-lg" ng-click="closeModal()"><span></span> {{'risk.addNewStrategy.close'|translate}}</a>
</div>
</div>