<div class="panel panel-default as-panel-customer">
    <div class="panel-body profile bg-info" style="margin-bottom:15px">
        <div class="profile-data">
            <div class="profile-data-name">{{'risk.addNewStrategy.title'|translate}}</div>
        </div>
    </div>
    <div class="panel-body as-panel-customer">
    <form name="newForm" novalidate="novalidate">
        <div class="col-md-12">
            <span href="#" class="tile tile-default">
	            <div style="float:left;margin: auto;height:20px; padding:5px;">
	                <label style="text-align:center;">{{'risk.addNewStrategy.name'|translate}}</label>
	            </div>
				<div class="col-md-4">
					<input name="strategyName" style="width:300px;" type="text" class="form-control" ng-model="newRiskStrategy.strategyName" required="required"/>
						<span style="color: red" ng-show="newForm.strategyName.$dirty && newForm.strategyName.$invalid">
							<span ng-show="newForm.strategyName.$error.required">
								{{'risk.addNewStrategy.name.validationMsg'|translate}}
							</span>
						</span>
				</div> <br> <br> <br> <br>
				<span href="#" class="tile tile-default">
					<div style="font-size:12px;"><h6>{{'risk.addNewStrategy.ratingBandSettings'|translate}}</h6>
						
					        <table style="border: 1px solid;width:50%;" class="table datatable" align="center">
					        	<thead class="table datatable">
					        		<tr>
					        			<th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.buyerRatings'|translate}}</th>
					        			<th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.acceptancePercentage'|translate}}</th>
					        		</tr>
					        	</thead>
					        	<tbody>
					        			<tr ng-repeat="ratingBand in ratingBands | orderBy : 'sno'">
					        				<td style="text-align: center;border: 1px solid;">{{ratingBand.ratingFrom}} - {{ratingBand.ratingTo}}</td>
					        				<td style="text-align: center;border: 1px solid;">
						        				<input name="ratingBand{{$index+1}}" type="number"
													ng-model="newRiskStrategy.ratingBand[$index+1]"
													required/>
												<span style="color: red" ng-show="newForm.ratingBand{{$index+1}}.$dirty && newForm.ratingBand{{$index+1}}.$invalid">
													<span ng-show="newForm.ratingBand{{$index+1}}.$error.required">
														{{'risk.addNewStrategy.requiredMsg1'|translate}} {{$index+1}} {{'risk.addNewStrategy.requiredMsg2'|translate}}.
													</span>
												</span>
											</td>
					        			</tr>			        	
					        	</tbody>
					        
					        </table>
					  
					    
					    </div>
			</span>
			
			<span href="#" class="tile tile-default">
			 	<table style="border: 1px solid;width:50%;" class="table datatable" align="center">
			 		<thead class="table datatable">
						<tr>
					    	<th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.country'|translate}}</th>
					        <th style="text-align: center;border: 1px solid;">{{'risk.addNewStrategy.industry'|translate}}</th>
					    </tr>
					 </thead>
					 <tbody>
					 	<tr>
					 		<td>
					 			<select multiple="multiple" ng-model="newRiskStrategy.buyerCountry">
									<option ng-repeat="country in cou"
													value="{{country.country}}">{{country.country}}</option>
								</select>
					 		</td>
					 		<td>
					 			<select multiple="multiple" ng-model="newRiskStrategy.buyerIndustry">
									<option ng-repeat="industry in ind"
													value="{{industry.industry}}">{{industry.industry}}</option>
								</select>
							</td>
					 	</tr>
					 </tbody>
			 	
			 	</table>
			</span>
    	</div>
    	
    	<div class="panel-body as-panel-customer">
		    <div class="col-md-6 as-col-md-6">
		        
			</div>
		</div>
		
		<div class="col-md-12">
        	<a href="#" class="btn btn-block btn-lg btn-success" ng-click="save();"><span class="fa-floppy-o"></span> {{'risk.addNewStrategy.Save'|translate}}</a>
    	</div>
    	</form>
	</div>

<div class="panel-body list-group">
    <a href="#" class="list-group-item btn btn-lg" ng-click="closeModal()"><span></span> {{'risk.addNewStrategy.close'|translate}}</a>
</div>
</div>