<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">Link</a></li>
        <li class="active">Company</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->            

<div class="page-title">
    <h2>Company</h2>
</div>
<!-- PAGE CONTENT TABBED -->
<tabset>
<tab heading="Projects">
<div class="tab-container" style="background: #FAFAFA;">
    <br>
					<div style="color:black;" ng-controller="CompanyCtrl">
                        <div style="width:20%; float: left; margin-left: 100px;">
                        	<table>
	                            <thead>
	                                <tr>
	                                    <th style="height: 100px; text-decoration: underline; text-align: center;">Compliance</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                            <style>
	                             .orange-background {background-color: orange;}
	                            </style>
	                                 <tr style="height:100px; padding:0;" ng-repeat="project in objects | filter: {type : 'Compliance'}">
												<td align="center">
													<table style="width:100px; height: 70px; background:{{project.background}};" 
													ng-mouseenter="bgcolorEnter(project)" ng-mouseleave="bgcolorLeave(project)" ng-click="addProject(project)">
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.name}}</font>
															</td>        
														</tr>
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.amount}}</font>
															</td>        
														</tr>
													</table>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline; text-align: center;">IT</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'IT'}">
												<td align="center">
													<table style="width:90px; height: 70px; background:{{project.background}};" ng-mouseenter="bgcolorEnter(project)" ng-mouseleave="bgcolorLeave(project)">
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.name}}</font>
															</td>        
														</tr>
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.amount}}</font>
															</td>        
														</tr>
													</table>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left; ">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline; text-align: center;">Marketing</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Marketing'}">
												<td align="center">
													<table style="width:90px; height: 70px; background:{{project.background}};" ng-mouseenter="bgcolorEnter(project)" ng-mouseleave="bgcolorLeave(project)">
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.name}}</font>
															</td>        
														</tr>
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.amount}}</font>
															</td>        
														</tr>
													</table>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline;text-align: center;">Strategy</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Strategy'}">
												<td align="center">
													<table style="width:90px; height: 70px; background:{{project.background}};" ng-mouseenter="bgcolorEnter(project)" ng-mouseleave="bgcolorLeave(project)">
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.name}}</font>
															</td>        
														</tr>
														<tr>
															<td align="center" style="border: 1px solid black;" nowrap="nowrap">
																<font color="black">{{project.amount}}</font>
															</td>        
														</tr>
													</table>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>


</tab>
<tab heading="Departments">
<div class="tab-container" >
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="CompanyCtrl">
                        <b></b>
                        <table class="table datatable">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team1 in objects1 | filter: {teamCountry:loggedInTeam} |orderBy: 'capital' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                   	<td>{{ team.name }}</td>
                                    <td>{{ team.capital }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b></b>
                        <table class="table datatable" >
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Team Name</th>
                                    <th>Exp Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects1 | filter: {teamCountry:loggedInTeam} | orderBy: 'experienceScore' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.experienceScore }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>
</tab>
<tab heading="Financials">
</tab>
</tabset>
<!-- END PAGE CONTENT TABBED  -->