<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">Link</a></li>
        <li class="active">Company</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->            

<div class="page-title">
    <h2>Company</h2>
</div>
<!-- PAGE CONTENT TABBED -->
<tabset>
<tab heading="Projects">
<div class="tab-container" style="background: #FAFAFA;">
    <br>
					<div style="color:black;" ng-controller="CompanyCtrl">
                        <div style="width:20%; float: left; margin-left: 100px;">
                        	<table>
	                            <thead>
	                                <tr>
	                                    <th style="height: 100px; text-decoration: underline; text-align: center;">Compliance</th>
	                                </tr>
	                            </thead>
	                            <tbody>

	                                 <tr style="height:100px; padding:0;" ng-repeat="project in objects | filter: {type : 'Compliance'}">
										<td align="center">
										<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
											ng-click="addProject(project, switchStatus)"><toggle-switch>
										</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:30%; float: left;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline; text-align: center;">IT</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'IT'}">
												<td align="center">
													<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
														ng-click="addProject(project, switchStatus)"><toggle-switch>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left; ">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline; text-align: center;">Marketing</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Marketing'}">
												<td align="center">
													<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
														ng-click="addProject(project, switchStatus)"><toggle-switch>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline;text-align: center;">Strategy</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Strategy'}">
												<td align="center">
													<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
														ng-click="addProject(project, switchStatus)"><toggle-switch>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>


</tab>



<tab heading="Departments">
<div class="tab-container" style="background: #FAFAFA;">
    <br>

                    <div style="color:black;" ng-controller="CompanyCtrl">
                        <b></b>
                        <table class="table datatable">
                            <tbody>
                                 <tr ng-repeat="department in departments">
                                   	<td>{{department.name }}</td>
                                   	<td ng-repeat="size in department.size">
                                   	<toggle-switch class="switch-success" html="true" ng-model="size.switchStatus" off-label="&#10006;&nbsp;&nbsp;" on-label="&#10004;&nbsp;&nbsp;" knob-label="{{size.unit}}"
                                   		ng-click="addDepartment(department, size)"></toggle-switch>
                                   	</td>
                                    <td>&euro;&nbsp;{{ department.selectedCost }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>

    </div>
    
</tab>



<tab heading="Financials">

</tab>
</tabset>
<!-- END PAGE CONTENT TABBED  -->