<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">{{'bc.link'|translate}}</a></li>
        <li class="active">{{'company.title'|translate}}</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->            

<div class="page-title">
    <h2>{{'company.title'|translate}}</h2>
</div>
<!-- PAGE CONTENT TABBED -->
<tabset>

<tab heading={{'company.tab2.title'|translate}}>
<div class="tab-container" style="background: #FAFAFA;">
    <br>

                    <div style="color:black;" ng-controller="CompanyCtrl">
                        <b></b>
                        <table class="table datatable">
                            <tbody>
                                 <tr ng-repeat="department in departments">
                                   	<td>{{department.name }}</td>
                                   	<td ng-repeat="size in department.size">
                                   	<toggle-switch class="switch-success" html="true" ng-model="size.switchStatus" off-label="&#10006;&nbsp;&nbsp;" on-label="&#10004;&nbsp;&nbsp;" knob-label="{{size.unit}}"
                                   		ng-click="addDepartment(department, size)" style="min-width: 110px;"></toggle-switch>
                                   	</td>
                                    <td>&euro;&nbsp;{{ department.selectedCost }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div style="border-radius: 10px;border: 1px solid  grey;padding: 10px;">
                    	<h6>Information:</h6>
							<p>
								Sales department size determines number of sales managers available and hence number of possible offers.<br>
								Marketing department size determines number of campaigns that can be run per round.<br> 
								IT department size determines the number of IT projects that can be maintained per round.<br>
								Risk department size determines the number of UW strategies that can be set.<br>
							</p>
                    </div>

    </div>
    
</tab>

<tab heading={{'company.tab1.title'|translate}}>
<div class="tab-container" style="background: #FAFAFA;">
    <br>
					<div style="color:black;" ng-controller="CompanyCtrl">
                        <div style="width:20%; float: left; margin-left: 30px;margin-right: 30px;">
                        	<table>
	                            <thead>
	                                <tr>
	                                    <th style="height: 100px; text-decoration: underline; text-align: center;">{{'company.tab1.compliance' |translate}}</th>
	                                </tr>
	                            </thead>
	                            <tbody>

	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Compliance'}">
										<td align="center">
										<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
											ng-click="addProject(project, switchStatus)"><toggle-switch>
										</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left; margin-right: 30px;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline; text-align: center;">{{'company.tab1.it'|translate}}</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'IT'}">
												<td align="center">
													<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
														ng-click="addProject(project, switchStatus)"><toggle-switch>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left; margin-right: 30px;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline; text-align: center;">{{'company.tab1.marketing'|translate}}</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Marketing'}">
												<td align="center">
													<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
														ng-click="addProject(project, switchStatus)"><toggle-switch>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                        <div style="width:20%; float: left;">
	                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px;text-decoration: underline;text-align: center;">{{'company.tab1.strategy'|translate}}</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:100px;" ng-repeat="project in objects | filter: {type : 'Strategy'}">
												<td align="center">
													<toggle-switch class="switch-success" html="true" ng-model="project.switchStatus" off-label="&#10006;&nbsp;&euro;&nbsp;{{project.amount}}" on-label="&#10004;&nbsp;&euro;&nbsp;{{project.amount}}" knob-label="{{project.name}}" 
														ng-click="addProject(project, switchStatus)"><toggle-switch>
												</td>												                     	
	                                </tr> 
	                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>


</tab>

<tab heading={{'company.tab3.title'|translate}}>
<div class="tab-container" style="background: #FAFAFA;">
 <br>

                    <div style="color:black;" ng-controller="CompanyCtrl">
                        <b></b>
                        <b>{{'company.tab3.profit&loss'|translate}}</b>
                        <table>
	                            <thead >
	                                <tr>
	                                    <th style="height: 100px; width: 150px;text-align: left;"></th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 1</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 2</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 3</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 4</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 5</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 6</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 7</th>
	                                    <th style="height: 100px; width: 110px;text-align: left;">{{'company.tab3.round'|translate}} 8</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                 <tr style="height:25px;">
												<td align="left">
													<font> {{'company.tab3.premiumIncome'|translate}} </font>
												</td>							
												<td ng-repeat="round in roundLevelInformation">
													{{round.premiumIncome}}
												</td>					                     	
	                                </tr> 
	                                <tr style="height:25px;">
												<td align="left">
													<font> {{'company.tab3.claimsPaid'|translate}} </font>
												</td>							
												<td ng-repeat="round in roundLevelInformation">
													{{round.claimsPaid}}
												</td>					                     	
	                                </tr> 
	                                <tr style="height:25px;">
												<td align="left">
													<font>{{'company.tab3.operatingExpenses'|translate}}</font>
												</td>							
												<td ng-repeat="round in roundLevelInformation">
													{{round.operatingExpenses}}
												</td>					                     	
	                                </tr> 
	                                <tr style="height:25px;">
												<td align="left">
													<font> {{'company.tab3.grossIncome'|translate}} </font>
												</td>							
												<td ng-repeat="round in roundLevelInformation">
													{{round.grossIncome}}
												</td>					                     	
	                                </tr> 
	                                <tr style="height:25px;">
												<td align="left">
													<font> {{'company.tab3.profit'|translate}} </font>
												</td>							
												<td ng-repeat="round in roundLevelInformation">
													{{round.profit}}
												</td>					                     	
	                                </tr> 
	                            </tbody>
                        </table>
                    </div>

    </div>
 
</tab>
</tabset>
<!-- END PAGE CONTENT TABBED  -->