<!-- START MINI DASHBOARD -->
                        <div class="col-dashboard col-md-10">
                        <div class="col-md-2 col-sm-12 col-align">
                            <div class="tile tile-transparent">
                                78
                                <p>Ranking</p>
                                <div class="informer informer-warning dir-tr"><span class="fa fa-arrow-circle-right"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align">
                            <div class="tile tile-transparent">
                                32
                                <p>Experience score</p>
                                <div class="informer informer-success dir-tr"><span class="fa fa-arrow-circle-up"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align">
                            <div class="tile tile-transparent">
                                65
                                <p>Customers</p>
                                <div class="informer informer-success dir-tr"><span class="fa fa-arrow-circle-up"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align">
                            <div class="tile tile-transparent">
                                87%
                                <p>Acceptance Rate</p>
                                <div class="informer informer-danger dir-tr"><span class="fa fa-arrow-circle-down"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align">
                            <div class="tile tile-transparent">
                                €104,599.49
                                <p>Claims</p>
                                <div class="informer informer-danger dir-tr"><span class="fa fa-arrow-circle-up"></span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-align">
                            <div class="tile tile-transparent">
                                €252,785.87
                                <p>Capital</p>
                                <div class="informer informer-success dir-tr"><span class="fa fa-arrow-circle-up"></span></div>
                            </div>
                        </div>
                    </div>
<!-- END MINI DASHBOARD -->