<!-- START X-NAVIGATION HORIZONTAL -->
<ul class="x-navigation x-navigation-horizontal x-navigation-panel" ng-controller="NavbarCtrl" ng-show="isLoggedIn()">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- POWER OFF -->
    <li class="xn-icon-button pull-right last" ng-show="isLoggedIn()" ng-class="logoutActive">
        <a href="#" ng-click="toggleLogout()"><span class="fa fa-power-off"></span></a>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
            <div class="panel-heading">
                <h3 class="panel-title">{{'navbar.logOutMsg' | translate}}</h3>
            </div>
            <div class="panel-footer text-center">
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-sm" ng-click="logout()"><span class="fa fa-coffee"></span> {{'navbar.btnYes'| translate}}</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="toggleLogout()"><span class="fa fa-heart"></span> {{'navbar.btnNo'| translate}}</button>
                </div>
            </div>
        </div>
    </li>
    <!-- END POWER OFF -->
  <!-- TASKS -->
  <li class="xn-icon-button pull-right" ng-class="actionsActive">
    <a href="#" ng-click="toggleActions()"><span
      class="fa fa-check-square"></span></a> <!--NOTIFICATION COUNT-->
    <div class="informer informer-warning">3</div> <!--END NOTIFICATION COUNT-->
    <div
      class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="fa fa-tasks"></span> {{'navbar.roundTask'|translate}}
        </h3>
        <div class="pull-right">
          <span class="label label-warning">{{'navbar.active'|translate}}</span>
        </div>
      </div>
      <div class="panel-body list-group scroll" style="height: 163px;">
        <div class="list-group border-bottom">
          <a href="#" class="list-group-item"> <label class="check">
            <div class="icheckbox_minimal-grey checked"
                 style="position: relative;">
              <input type="checkbox" class="icheckbox"
                     style="position: absolute; opacity: 0;" checked="checked">
            </div> {{'navbar.makeOffer'|translate}}
          </label>
          </a> <a href="#" class="list-group-item"> <label class="check">
          <div class="icheckbox_minimal-grey checked"
               style="position: relative;">
            <input type="checkbox" class="icheckbox"
                   style="position: absolute; opacity: 0;" checked="checked">
          </div> {{'navbar.manageRisk'|translate}}
        </label>
        </a> <a href="#" class="list-group-item"> <label class="check">
          <div class="icheckbox_minimal-grey"
               style="position: relative;">
            <input type="checkbox" class="icheckbox"
                   style="position: absolute; opacity: 0;" checked="checked">
          </div> {{'navbar.investInCompany'|translate}}
        </label>
        </a> <a href="#" class="list-group-item"> <label class="check">
          <div class="icheckbox_minimal-grey" style="position: relative;">
            <input type="checkbox" class="icheckbox"
                   style="position: absolute; opacity: 0;" checked="checked">
          </div> {{'navbar.fulfilChallenge'|translate}}
        </label>
        </a>
        </div>
      </div>
      <div class="panel-footer text-center">
        <a href="pages-tasks.html">{{'navbar.showAllTasks'|translate}}</a>
      </div>
    </div>
  </li>
  <!-- END TASKS -->
  <!--START LANG-->
  <li class="xn-icon-button pull-right" ng-class="languageActive">
    <a href="#" ng-click="toggleLanguage()"><span
    class="{{language}}"></span></a>
    <ul class="xn-drop-left xn-drop-white animated zoomIn">
      <li><a href="#" ng-click="changeLang('flag flag-gb','English')" >
      <span class="flag flag-gb"></span>
        {{ 'navbar.flag.GB' | translate }}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-es','Spanish')" >
      <span class="flag flag-es"></span>
        {{'navbar.flag.ES' | translate}}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-de','Deutsh')" >
      <span class="flag flag-de"></span> 
      {{'navbar.flag.DE' | translate}}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-it','Italian')"  >
      <span class="flag flag-it"></span>
        {{'navbar.flag.IT' | translate}}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-fr','French')"  >
      <span class="flag flag-fr"></span>
       {{'navbar.flag.FR' | translate}}</a></li>
    </ul>
  </li>
  <!--END LANG-->

</ul>
