<!-- START X-NAVIGATION HORIZONTAL -->
<ul class="x-navigation x-navigation-horizontal x-navigation-panel as-jq-nav" ng-controller="NavbarCtrl" ng-show="isLoggedIn()">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- POWER OFF -->
    <li class="xn-icon-button pull-right last" ng-show="isLoggedIn()" ng-class="logoutActive">
        <a href="#" ng-click="toggleLogout()"><span class="fa fa-power-off"></span></a>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
            <div class="panel-heading">
                <h3 class="panel-title">{{logOutMsg}}</h3>
            </div>
            <div class="panel-footer text-center">
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-sm" ng-click="logout()"><span class="fa fa-coffee"></span> {{btnYes}}</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="toggleLogout()"><span class="fa fa-heart"></span> {{btnNo}}</button>
                </div>
            </div>
        </div>
    </li>
    <!-- END POWER OFF -->
  <!-- TASKS -->
  <li class="xn-icon-button pull-right" ng-class="actionsActive">
    <a href="#" ng-click="toggleActions()"><span
      class="fa fa-check-square"></span></a> <!--NOTIFICATION COUNT-->
    <div class="informer informer-warning">3</div> <!--END NOTIFICATION COUNT-->
    <div
      class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="fa fa-tasks"></span> Round 1 tasks
        </h3>
        <div class="pull-right">
          <span class="label label-warning">3 active</span>
        </div>
      </div>
      <div class="panel-body list-group scroll" style="height: 163px;">
        <div class="list-group border-bottom">
          <a href="#" class="list-group-item"> <label class="check">
            <div class="icheckbox_minimal-grey checked"
                 style="position: relative;">
              <input type="checkbox" class="icheckbox"
                     style="position: absolute; opacity: 0;" checked="checked">
            </div> Make an offer
          </label>
          </a> <a href="#" class="list-group-item"> <label class="check">
          <div class="icheckbox_minimal-grey checked"
               style="position: relative;">
            <input type="checkbox" class="icheckbox"
                   style="position: absolute; opacity: 0;" checked="checked">
          </div> Manage risk
        </label>
        </a> <a href="#" class="list-group-item"> <label class="check">
          <div class="icheckbox_minimal-grey"
               style="position: relative;">
            <input type="checkbox" class="icheckbox"
                   style="position: absolute; opacity: 0;" checked="checked">
          </div> Invest in company
        </label>
        </a> <a href="#" class="list-group-item"> <label class="check">
          <div class="icheckbox_minimal-grey" style="position: relative;">
            <input type="checkbox" class="icheckbox"
                   style="position: absolute; opacity: 0;" checked="checked">
          </div> Fullfil challenge
        </label>
        </a>
        </div>
      </div>
      <div class="panel-footer text-center">
        <a href="pages-tasks.html">Show all tasks</a>
      </div>
    </div>
  </li>
  <!-- END TASKS -->
  <!--START LANG-->
  <li class="xn-icon-button pull-right" ng-class="languageActive">
    <a href="#" ng-click="toggleLanguage()"><span
    class="{{language}}"></span></a>
    <ul class="xn-drop-left xn-drop-white animated zoomIn">
      <li><a href="#" ng-click="changeLang('flag flag-gb','en')" ><span class="flag flag-gb"></span>
        {{ 'ENG' | translate }}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-es','es')" ><span class="flag flag-es"></span>
        {{'SPAN' | translate}}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-de','en')" ><span class="flag flag-de"></span> {{'DEU' | translate}}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-it','de')"  ><span class="flag flag-it"></span>
        {{'ITA' | translate}}</a></li>
      <li><a href="#" ng-click="changeLang('flag flag-fr','fr')"  ><span class="flag flag-fr"></span> {{'FRE' | translate}}</a></li>
    </ul>
  </li>  
  <!--END LANG-->
  
    <h1>{{ 'HEADLINE' | translate }}</h1>
  
</ul>
<!-- <script>
var app = angular.module('atpexpApp', ['pascalprecht.translate']);
  app.config(function($translateProvider) {
   $translateProvider.translations('en', {
    HEADLINE: 'Hello there, This is my awesome app!',
    INTRO_TEXT: 'And it has i18n support!'
  })
  .translations('de', {
    HEADLINE: 'Hey, das ist meine großartige App!',
    INTRO_TEXT: 'Und sie untersützt mehrere Sprachen!'
  });
  $translateProvider.preferredLanguage('de');
});

app.controller('NavbarCtrl', function($translate, $scope) {
  $scope.changeLanguage = function (langKey) {
    $translate.use(langKey);
  };
});
</script> -->
<!-- END X-NAVIGATION HORIZONTAL -->
