<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">Link</a></li>
        <li class="active">Ranking</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->

<div class="page-title">
    <h2>{{'ranking.title'|translate}}</h2>
</div>
<!-- PAGE CONTENT TABBED -->
<tabset>
<tab heading={{'ranking.tab1.heading'|translate}}>
<div class="tab-container" >
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>{{'ranking.tab1.title'|translate}}</b><br><br>
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th style="width:25%;">{{'ranking.tab.rank'|translate}}</th>
                                    <th style="width:25%;">{{'ranking.tab.team-name'|translate}}</th>
                                    <th style="width:25%;">{{'ranking.tab.country'|translate}}</th>
                                    <th style="width:25%;">{{'ranking.tab.capital'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | orderBy: 'capital' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.teamCountry }}</td>
                                    <td>{{ team.capital }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>{{'ranking.tab.xpScoreRanking'|translate}}</b> <br><br>
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th style="width:25%;">{{'ranking.tab.rank'|translate}}</th>
                                    <th style="width:25%;">{{'ranking.tab.team-name'|translate}}</th>
                                    <th style="width:25%;">{{'ranking.tab.country'|translate}}</th>
                                    <th style="width:25%;">{{'ranking.tab.xpScore'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | orderBy: 'experienceScore' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.teamCountry }}</td>
                                    <td>{{ team.experienceScore }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
</div>

</tab>
<tab heading="{{loggedInTeam}} {{'ranking.tab2.countryRanking'|translate}}">
<div class="tab-container" >
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>{{'ranking.tab1.title'|translate}}</b> <br><br>
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th style="width: 33%;">{{'ranking.tab.rank'|translate}}</th>
                                    <th style="width: 33%;">{{'ranking.tab.team-name'|translate}}</th>
                                    <th style="width: 33%;">{{'ranking.tab.capital'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | filter: {teamCountry:loggedInTeam} |orderBy: 'capital' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                   	<td>{{ team.name }}</td>
                                    <td>{{ team.capital }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>{{'ranking.tab.xpScoreRanking'|translate}}</b> <br><br>
                        <table class="table table-bordered table-striped table-actions" >
                            <thead>
                                <tr>
                                    <th style="width: 33%;">{{'ranking.tab.rank'|translate}}</th>
                                    <th style="width: 33%;">{{'ranking.tab.team-name'|translate}}</th>
                                    <th style="width: 33%;">{{'ranking.tab.xpScore'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | filter: {teamCountry:loggedInTeam} | orderBy: 'experienceScore' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.experienceScore }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>
</tabset>
<!-- END PAGE CONTENT TABBED  -->