<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">Link</a></li>
        <li class="active">Ranking</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->

<div class="page-title">
    <h2>Ranking</h2>
</div>
<!-- PAGE CONTENT TABBED -->
<tabset>
<tab heading="Overall Ranking">
<div class="tab-container" >
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>Capital Ranking</b><br><br>
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th style="width:25%;">Rank</th>
                                    <th style="width:25%;">Team Name</th>
                                    <th style="width:25%;">Country</th>
                                    <th style="width:25%;">Capital(Euros Million)</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | orderBy: 'capital' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.teamCountry }}</td>
                                    <td>{{ team.capital }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>Experience Score Ranking</b> <br><br>
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th style="width:25%;">Rank</th>
                                    <th style="width:25%;">Team Name</th>
                                    <th style="width:25%;">Country</th>
                                    <th style="width:25%;">Exp Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | orderBy: 'experienceScore' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.teamCountry }}</td>
                                    <td>{{ team.experienceScore }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
</div>

</tab>
<tab heading="{{loggedInTeam}} Country Ranking">
<div class="tab-container" >
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>Capital Ranking</b> <br><br>
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th style="width: 33%;">Rank</th>
                                    <th style="width: 33%;">Team Name</th>
                                    <th style="width: 33%;">Capital(Euros Million)</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | filter: {teamCountry:loggedInTeam} |orderBy: 'capital' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                   	<td>{{ team.name }}</td>
                                    <td>{{ team.capital }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive" ng-controller="RankingCtrl">
                        <b>Experience Score Ranking</b> <br><br>
                        <table class="table table-bordered table-striped table-actions" >
                            <thead>
                                <tr>
                                    <th style="width: 33%;">Rank</th>
                                    <th style="width: 33%;">Team Name</th>
                                    <th style="width: 33%;">Exp Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="team in objects | filter: {teamCountry:loggedInTeam} | orderBy: 'experienceScore' :true" style="color:{{fontStyle(team.name)}};">
                                   	<td>{{$index + 1 }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.experienceScore }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>
</tabset>
<!-- END PAGE CONTENT TABBED  -->