<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">{{'bc.link'|translate}}</a></li>
        <li class="active">{{'market.title'|translate}}</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->      

<div class="page-title">
    <h2>{{'market.title'|translate}}</h2>
</div>

<!-- PAGE CONTENT TABBED -->
<tabset>
<tab heading={{'market.tab1.title'|translate}}>
<div class="tab-container">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="background-color:#f9f9f9">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'market.tab1.default'|translate}}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">Page to be developed</div>
            </div>
        </div>
    </div>
</div>
</tab>      
<tab heading={{'market.tab2.title'|translate}}> 
<div class="row">
    <div class="col-md-12">    
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'market.tab2.default'|translate}}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" ng-click="isCollapsedCustomer = !isCollapsedCustomer" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                       <li><a href="#" ng-click="refreshMarketGlobal()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
            
                <div class="panel-body" collapse="isCollapsedCustomer">
                <div class="table-responsive">
                        <table datatable="ng" class="table datatable hover">
                            <thead>
                                <tr>
                                    <th>{{'market.tab2.name'|translate}}</th>
                                    <th>{{'market.tab2.country'|translate}}</th>
                                    <th>{{'market.tab2.region'|translate}}</th>
                                    <th>{{'market.tab2.industry'|translate}}</th>
                                    <th>{{'market.tab2.buyerSegment'|translate}} 1</th>
                                    <th>{{'market.tab2.buyerSegment'|translate}} 2</th>
                                    <th>{{'market.tab2.buyerSegment'|translate}} 3</th>
                                    <th>{{'market.tab2.offerCount'|translate}}</th> 
                                    <th>{{'market.tab2.offer'|translate}}</th> 
                                                                       
                            </thead>
                            <tbody>
                                <tr ng-repeat="cust in customers | filter: { offerFound : '!true' }">
                                    <td>{{ cust.name }}</td>
                                    <td>{{ cust.country }}</td>
                                    <td>{{ cust.region }}</td>
                                    <td>{{ cust.industry }}</td>
                                    <td>{{ cust.buyerPortfolio[0].country }} - {{ cust.buyerPortfolio[0].industry }}</td>
                                    <td>{{ cust.buyerPortfolio[1].country }} - {{ cust.buyerPortfolio[1].industry }}</td>
                                    <td>{{ cust.buyerPortfolio[2].country }} - {{ cust.buyerPortfolio[2].industry }}</td>
                                    <td>{{ cust.offerCount }}</td>
                                    <td ng-if="!cust.offerFound"><button type="button" 
                                        class="btn btn-info btn-rounded btn-xs" ng-click="showCustomer(cust); open()">
                                       {{'market.tab2.makeOffer'|translate}}</button></td>
                                    <td ng-if="cust.offerFound"><button type="button" class="btn btn-info btn-rounded btn-xs" ng-click="showCustomer(cust); modify()">{{'market.tab2.modifyOffer'|translate}}</button>
                                    <button type="button" class="btn btn-info btn-rounded btn-xs" ng-click="showCustomer(cust); deleteConfirmation()">{{'market.tab2.deleteOffer'|translate}}</button></td>                                    

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    

                <div class="panel-footer" collapse="isCollapsedCustomer"> </div>
            </div>
        </div> 

</div> 

</div>            

</tab>
<tab heading={{'market.tab3.title'|translate}}>
<div class="row">
    <div class="col-md-12">    
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'market.tab2.default'|translate}}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" ng-click="isCollapsedCustomer = !isCollapsedCustomer" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                       <li><a href="#" ng-click="refreshMarketGlobal()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
            
                <div class="panel-body" collapse="isCollapsedCustomer">
                <div class="table-responsive">
                        <table datatable="ng" class="table datatable hover">
                            <thead>
                                <tr>
                                    <th>{{'market.tab2.name'|translate}}</th>
                                    <th>{{'market.tab2.country'|translate}}</th>
                                    <th>{{'market.tab2.region'|translate}}</th>
                                    <th>{{'market.tab2.industry'|translate}}</th>
                                    <th>{{'market.tab2.buyerSegment'|translate}} 1</th>
                                    <th>{{'market.tab2.buyerSegment'|translate}} 2</th>
                                    <th>{{'market.tab2.buyerSegment'|translate}} 3</th>
                                    <th>{{'market.tab2.offerCount'|translate}}</th>
                                    <th>{{'market.tab2.offerType'|translate }}</th>
                                    <th>{{'market.tab2.offer'|translate}}</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cust in customers | filter:{offerFound:true}">
                                    <td>{{ cust.name }}</td>
                                    <td>{{ cust.country }}</td>
                                    <td>{{ cust.region }}</td>
                                    <td>{{ cust.industry }}</td>
                                    <td>{{ cust.buyerPortfolio[0].country }} - {{ cust.buyerPortfolio[0].industry }}</td>
                                    <td>{{ cust.buyerPortfolio[1].country }} - {{ cust.buyerPortfolio[1].industry }}</td>
                                    <td>{{ cust.buyerPortfolio[2].country }} - {{ cust.buyerPortfolio[2].industry }}</td>
                                    <td>{{ cust.offerCount }}</td>
                                    <td>{{ cust.offerType }}</td>
                                    <td ng-if="!cust.offerFound"><button type="button" 
                                        class="btn btn-info btn-rounded btn-xs" ng-click="showCustomer(cust); open()">
                                       {{'market.tab2.makeOffer'|translate}}</button></td>
                                    <td ng-if="cust.offerFound"><button type="button" class="btn btn-info btn-rounded btn-xs" ng-click="showCustomer(cust); modify()">{{'market.tab2.modifyOffer'|translate}}</button>
                                    <button type="button" class="btn btn-info btn-rounded btn-xs" ng-click="showCustomer(cust); deleteConfirmation()">{{'market.tab2.deleteOffer'|translate}}</button></td>                                    

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    

                <div class="panel-footer" collapse="isCollapsedCustomer"> </div>
            </div>
        </div> 

</div> 

</div>            

</tab>
</tabset>

<!-- END PAGE CONTENT TABBED -->
