<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active">Admin</li>
</ul>
<!-- END BREADCRUMB -->

<div class="page-title">
    <h2>Admin</h2>

</div>
<tabset>
<tab heading="Teams">
  <div class="tab-container">
  <p>The delete team and user index api routes are restricted to team with the 'admin' role.</p>
    <h3>Total Teams : {{teams.length}} </h3>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="team in teams">
        <strong>{{team.name}}</strong><br>
        <a ng-click="delete(team)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
 </tab>
 </tabset>
