<div class="page-sidebar" ng-controller="SidebarCtrl" ng-show="isLoggedIn()">
     <ul class="x-navigation">
        <li class="xn-logo">
            <a href="index.html">ATLANT</a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-profile">
            <a href="#" class="profile-mini">
                 <img src="assets/img/uploads/{{avatar}}" alt="Team Profile Picture">
            </a>
            <div class="profile">
            <div  class="profile-image" ngf-select="uploadAvatar($file)" ng-model="file" >
                 <img src="assets/img/uploads/{{team.picture}}" alt="Team Profile Picture" >
              </div>

                <div class="profile-data">
                    <div class="profile-data-name">{{team.name }}</div>
                    <div class="profile-data-name">{{team.slogan}}</div>
                </div>
                <div class="profile-controls">
<!--                    <a href="/settings" class="profile-control-left"><span class="fa fa-cogs"></span></a>
                    <a href="/ranking" class="profile-control-right"><span class="fa fa-globe"></span></a>-->
                </div>
            </div>
        </li>
        <li class="xn-title">{{"sidebar.Navigation" | translate}}</li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}"><span class="fa fa-{{item.icon}}"></span> <span class="xn-text">{{item.title}}</span></a>
        </li>
        <li class="xn-openable" ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
            <a href="/admin"><span class="fa fa-smile-o"></span> <span class="xn-text">{{"sidebar.Admin" | translate}}</span></a>
            <ul>           
                <li>
                    <a href="/admin/customer-pool"><span class="fa fa-gears"></span> <span class="xn-text">{{"sidebar.CustomerPool" | translate}}</span></a>
                </li>
                <li>
                    <a href="/admin/teams"><span class="fa fa-users"></span> <span class="xn-text">{{"sidebar.Teams" | translate}}</span></a>
                </li>
            </ul>
        </li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">{{"sidebar.SignUp" | translate}}</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">{{"sidebar.Login" | translate}}</a></li>
    </ul>
    <!-- END X-NAVIGATION -->
</div>
