	<!-- START BREADCRUMB -->
<div class="mini-dashboard col-md-12">
   <div class="col-breadcrumb col-md-2">
    <ul class="breadcrumb">
        <li><a href="/">Link</a></li>
        <li class="active">Risk Strategy</li>
    </ul>
</div>
 <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->               



<div class="panel panel-default" ng-controller="riskCtrl">
	<div class="panel-heading">
		<div class="col-sm-4">UW STRATEGIES</div>
		<div class="col-sm-8">
			<!-- Trigger the modal with a button -->
			<button type="button" class="btn btn-info btn-sm pull-right"
				data-toggle="modal" data-target="#myModal" ng-click="reset()">{{
				'Add_New_Strategy' | translate }}</button>
		</div>
	</div>
	<div class="panel-body" style="height: 400px; overflow:scroll;">
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th rowspan="2" class="text-center">#</th>
					<th rowspan="2" class="text-center">{{ 'Strategy_Name' |
						translate }}</th>
					<th rowspan="2" class="text-center">{{ 'Country' | translate
						}}</th>
					<th rowspan="2" class="text-center">{{ 'Industry' | translate
						}}</th>
					<th colspan="5" class="text-center">{{ 'RiskAcceptance' |
						translate }}</th>
					<th rowspan="2" class="text-center">{{ 'Modify' | translate }}</th>
					<th rowspan="2" class="text-center">{{ 'Delete' | translate }}</th>
				</tr>
				<tr>
					<th class="text-center">1-30</th>
					<th class="text-center">31-40</th>
					<th class="text-center">41-50</th>
					<th class="text-center">51-60</th>
					<th class="text-center">60+</th>
				</tr>

			</thead>
			<tbody>

				<tr ng-repeat="strategy in strategies">

					<td class="text-center">{{strategy.round}}</td>
					<td class="text-center">{{strategy.strategyName}}</td>
					<td class="text-center">{{strategy.buyerCountry}}</td>
					<td class="text-center">
						<label style="font-weight: 400;" ng-repeat="buyerIndustry in strategy.buyerIndustry">
							{{buyerIndustry}}{{$last ? '' : ',&nbsp'}}
						</label>
					</td>
					<td class="text-center">{{strategy.strategyRatingBand1}}%</td>
					<td class="text-center">{{strategy.strategyRatingBand2}}%</td>
					<td class="text-center">{{strategy.strategyRatingBand3}}%</td>
					<td class="text-center">{{strategy.strategyRatingBand4}}%</td>
					<td class="text-center">{{strategy.strategyRatingBand5}}%</td>
					<td class="text-center">
						<button type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#myModal">{{ 'Modify' |
							translate }}</button>
					</td>
					<td class="text-center"><button type="button"
							class="btn btn-info btn-sm" ng-click="delete(strategy._id)">{{
							'Delete' | translate }}</button></td>

				</tr>
		</table>
	</div>


	<div class="container">





		<!-- Modal -->
		<div class="modal" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">UW Settings</h4>
					</div>
					<div class="modal-body">

						<form name="myForm" novalidate>

							<p>
								Strategy Name <input type="text" name="strategyName"
									ng-model="strategy.strategyName" required> <span
									style="color: red"
									ng-show="myForm.strategyName.$dirty && myForm.strategyName.$invalid">
									<span ng-show="myForm.strategyName.$error.required">Strategy
										Name is required.</span>
								</span>
							</p>

							<table>
								<th colspan="2">Rating Band Settings</th>
								<br>
								<tr>
									<td>1-30</td>
									<td><input type="number" name="band1"
										ng-model="strategy.strategyRatingBand1" min="0" max="99"
										required />
										<div role="alert">
											<span style="color: red" class="error"
												ng-show="myForm.band1.$error.required"> Required! </span> <span
												style="color: red" class="error"
												ng-show="myForm.band1.$error.number"> Not valid
												number!</span>
										</div></td>
								</tr>
								<tr>
									<td>31-40</td>
									<td><input type="number" name="band2"
										ng-model="strategy.strategyRatingBand2" min="0" max="99"
										required />
										<div role="alert">
											<span style="color: red" class="error"
												ng-show="myForm.band2.$error.required"> Required! </span> <span
												style="color: red" class="error"
												ng-show="myForm.band2.$error.number"> Not valid
												number!</span>
										</div></td>
								</tr>
								<tr>
									<td>41-50</td>
									<td><input type="number" name="band3"
										ng-model="strategy.strategyRatingBand3" min="0" max="99"
										required />
										<div role="alert">
											<span style="color: red" class="error"
												ng-show="myForm.band3.$error.required"> Required! </span> <span
												style="color: red" class="error"
												ng-show="myForm.band3.$error.number"> Not valid
												number!</span>
										</div></td>
								</tr>
								<tr>
									<td>51-60</td>
									<td><input type="number" name="band4"
										ng-model="strategy.strategyRatingBand4" min="0" max="99"
										required />
										<div role="alert">
											<span style="color: red" class="error"
												ng-show="myForm.band4.$error.required"> Required! </span> <span
												style="color: red" class="error"
												ng-show="myForm.band4.$error.number"> Not valid
												number!</span>
										</div></td>
								</tr>
								<tr>
									<td>60+</td>
									<td><input type="number" name="band5"
										ng-model="strategy.strategyRatingBand5" min="0" max="99"
										required />
										<div role="alert">
											<span style="color: red" class="error"
												ng-show="myForm.band5.$error.required"> Required! </span> <span
												style="color: red" class="error"
												ng-show="myForm.band5.$error.number"> Not valid
												number!</span>
										</div></td>
								</tr>
							</table>


							<table>
								<tr>
									<th>Country</th>
									<th>Industry</th>
								</tr>
								<tr>
									<td><div>
											<select multiple ng-model="selectedCountry">
												<option ng-repeat="countries in cou"
													value="{{countries.country}}">{{countries.country}}</option>
											</select>
										</div></td>

									<td>
										<div>
											<select multiple ng-model="selectedIndustries">
												<option ng-repeat="industries in ind"
													value="{{industries.industry}}">{{industries.industry}}</option>
											</select>
										</div>
									</td>
								</tr>
							</table>

							<div class="modal-footer">
								<div class="pull-left">Save?</div>
								<input type="submit" value="OK"
									ng-disabled="myForm.strategyName.$dirty && myForm.strategyName.$invalid ||
  myForm.band1.$dirty && myForm.band1.$invalid
  ||
  myForm.band2.$dirty && myForm.band2.$invalid
  ||
  myForm.band3.$dirty && myForm.band3.$invalid
  ||
  myForm.band4.$dirty && myForm.band4.$invalid
  ||
  myForm.band5.$dirty && myForm.band5.$invalid"
									data-dismiss="modal" ng-click="saveStrategy(strategy.strategyName, selectedCountry, selectedIndustries)">
							</div>



						</form>
					</div>
				</div>
			</div>


		</div>
	</div>