<!-- START BREADCRUMB -->
<div class="mini-dash-left">
    <ul class="breadcrumb breadcrumb-dashboard">
        <li><a href="#">Home</a></li>
        <li class="active">Risk</li>
    </ul>
</div>



<div class="panel panel-default">
  <div class="panel-heading">  <div class="col-sm-4">UW STRATEGIES</div>
  <div class="col-sm-8">
   <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add New Strategy</button> </div></div>
  <div class="panel-body" ng-controller="riskCtrl">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Strategy Name</th>
        <th>Countries</th>
		 <th>Industries</th>
		  <th>RiskAcceptance (IER)</th>
		   <th>Modify</th>
		    <th>Delete</th>
      </tr>
	 
    </thead>
    <tbody>
    
      <tr ng-repeat="strategies in objects">
                                  
                                    <td>{{strategies.strategyNo }}</td>
                                    <td>{{strategies.strategyName}}</td>
                                       <td>{{strategies.country}}</td>
                                       
                                          <td>{{strategies.industry}}</td>
                                    <td>{{strategies.strategyRatingBand}}</td>
                                  <td><a>Modify</a></td>
                                  <td><a>Delete</a></td>
                                 
                                </tr> 
      
  </table></div>
</div>

<div class="container">
 
 


 
  <!-- Modal -->
  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body" ng-controller="indusCtrl">
        <div class="row" >
       
       </table>
       <select multiple >
  <option ng-repeat="industries in objects" value="{{industries.industry}">{{industries.industry}}</option>
  </select>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>
  

  
</div>

